<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">

  <title> Лес выглядит как живое существо, 1024x768 </title>
  <meta content="Кажется, что массив леса не состоит из деревьев, а это просто *живой Лес*." name="description">
  
  <meta content="Евгений Корниенко" name="author">
  
  
  <link href="https://cord70.github.io/photo/photo/view/images/forest-en.html" hreflang="en" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/images/forest.html" hreflang="ru" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/images/forest.html" rel="canonical">
    

  
  
  
 </head>
 <body>

  <header>
   <p id="navstring"> </p>
  </header>

  <main>
   <p> <a href="../forest.html">
     <img alt="Массив леса, уходит в даль, и воспринимается,
      как одно существо" height="768" src="forest.jpg" title="Массив леса как одно существо" width="1024">
     <br> лес уходит в даль </a> </p>
  </main>

  <footer>
  </footer>

  
 </body>
</html>