<!DOCTYPE html>
<html lang="ru"> 
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лес выглядит как живое существо</title>
    <meta name="author" content="Евгений Корниенко">
    <meta name="description" content="Можно считать, что массив леса не состоит из деревьев, а это большое живое существо - Живой Лес.">

    <link href="../../../images/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
    <link href="../../../images/main.css" rel="stylesheet">
 


    <script> const refpath="../../"; const pagelang="ru" </script>
    <script src="../../images/menu.js" defer=""> </script>
    <script src="nav.js" defer=""> </script>
    <script src="../../../images/ansimeta.js" defer=""> </script>
</head>
 <body>
     

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/forest.jpg">
     <img alt="Массив леса, уходит в даль, и
      воспринимается, как одно существо" height="450" src="images/forest.jpg" title="Массив леса как одно
      существо" width="600"> </a> </p>

   <h1> Лес </h1>

   <p> Кажется, что лес на фото - это одно существо, а не отдельные
            деревья. Некоторые обстоятельства не видны. Это не край леса,
            а клин, или лесополоса между двух дорог в Подмосковье. С каждым
            годом этому лесу всё труднее. Всё больше народу и мусора. Соседние
            дома вгрызаются и постепенно убивают лес. </p>

   <p class="leftc">
    <a href="../crete/sea-view.html">
     <img alt="Вид на море и дальний
      остров в обрамлении деревьев слева и справа" height="150" src="../crete/200/sea-view.jpg" title="Так выглядит
      Средиземное море с острова Крит" width="200">
     <br> Пейзаж с видом на море </a> </p>

  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  
 

 </body>
</html>
