<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta charset="utf-8">

  <title> Лес выглядит как живое существо </title>
  <meta content="Можно считать, что массив леса не состоит из деревьев, а это большое живое существо - Живой Лес." name="description">
  
  <meta content="Евгений Корниенко" name="author">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  
  <link href="https://cord70.github.io/photo/photo/view/forest-en.html" hreflang="en" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/forest.html" hreflang="ru" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/forest.html" rel="canonical">
    

  <link href="https://cord70.github.io/photo/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
  <link href="/img/main.css" rel="stylesheet">
  <script defer="" src="navView.js"> </script>
  <script defer="" src="../../images/ansimeta.js" charset="UTF-8"> </script>
 </head>
 <body>

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/forest.jpg">
     <img alt="Массив леса, уходит в даль, и
      воспринимается, как одно существо" height="450" src="images/forest.jpg" title="Массив леса как одно
      существо" width="600"> </a> </p>

   <p class="rightc">
    <a href="../crete/sea-view.html">
     <img alt="Вид на море и дальний
      остров в обрамлении деревьев слева и справа" height="150" src="../crete/200/sea-view.jpg" title="Так выглядит
      Средиземное море с острова Крит" width="200">
     <br> Пейзаж с видом на море </a> </p>

   <h1> Лес </h1>

   <p> Кажется, что лес на фото - это одно существо, а не отдельные
            деревья. Некоторые обстоятельства не видны. Это не край леса,
            а клин, или лесополоса между двух дорог в Подмосковье. С каждым
            годом этому лесу всё труднее. Всё больше народу и мусора. Соседние
            дома вгрызаются и постепенно убивают лес. </p>
  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  
 </body>
</html>