<!DOCTYPE html>
<html lang="en"> 
<head>   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A body of forest</title>
    <meta name="author" content="Eugene Kornienko">
    <meta name="description" content="I see not trees but a forest as a whole entity in this old photo.">

    <link href="../../../images/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
    <link href="../../../images/main.css" rel="stylesheet">
 


    <script> const refpath="../../"; const pagelang="en" </script>
    <script src="../../images/menu.js" defer=""> </script>
    <script src="nav.js" defer=""> </script>
    <script src="../../../images/ansimeta.js" defer=""> </script>
</head>
 <body>
    
 

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/forest.jpg">
     <img alt="A body of forest like a creature" height="450" src="images/forest.jpg" title="A creature of forest" width="600"> </a> </p>

   <h1> Forest </h1>

   <p> It seems there are no separate trees in this photo but there
            is a forest entity. </p>

   <p class="leftc">
    <a href="../crete/sea-view-en.html">
     <img alt="view of sea and a far
      island in frame of two trees" height="150" src="../crete/200/sea-view.jpg" title="Normal beautiful sea view
      at Crete" width="200">
     <br> Sea view </a> </p>

  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  
 

 </body>
</html>
