<!DOCTYPE html>
<html lang="en"> 
<head>   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature mort with steel spring</title>
    <meta name="author" content="Eugene Kornienko">
    <meta name="description" content="The still photo was taken long ago in 2000 with my first digital camera HP-C200">

    <link href="../../../images/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
    <link href="../../../images/main.css" rel="stylesheet">
 


    <script> const refpath="../../"; const pagelang="en" </script>
    <script src="../../images/menu.js" defer=""> </script>
    <script src="nav.js" defer=""> </script>
    <script src="../../../images/ansimeta.js" defer=""> </script>
</head>
 <body>
    
 

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/steel-spring.jpg">
     <img alt="Steel spring of a special
      form" height="450" src="images/steel-spring.jpg" title="A still life of a steel spring on white paper" width="600"> </a> </p>

   <h1> Spring </h1>

   <p class="rightc">
    <a href="../../workshop/HP-C200-en.html">
     <img alt="A
      fly drinks water" height="201" src="../../workshop/images/fly-drink-droplet.jpg" title="Macro with a simple digicam. How do I
      forced the fly to stop? I gave it a drop of water with sugar." width="280">
     <br> by simple p/s camera </a> </p>

   <p> This old photo is taken in 2000 by my first digicam HP-C200
            1Mp </p>

   <div class="cr sel">
    &nbsp;
   </div>

   <p class="rightc">
    <a href="images/wire.jpg">
     <img alt="Long wire in the sky" height="150" src="200/wire.jpg" title="Long
      long wire" width="200">
     <br> 3 wires </a> </p>

   <p> This photo is also taken with old camera HP-C200.
    <br> It is high-voltage line of three wires in clear blue sky.
            The subject resembles "black square" - nothing catches view. So
            this picture is proper for PC's desktop. </p>
  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  
 

 </body>
</html>
