<!DOCTYPE html>
<html lang="ru"> 
<head>   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Натюрморт - Стальная пружина</title>
    <meta name="author" content="Евгений Корниенко">
    <meta name="description" content="Фотография сделана очень давно (в 2000 году) одной из первых цифровых камер HP-C200">

    <link href="../../../images/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
    <link href="../../../images/main.css" rel="stylesheet">
 


    <script> var refpath="../../";
 
    
    menu='<h4><a href="index.html"> Пейзаж</a></h4>\
  <p><a href="forest.html"> Край леса</a></p>\
<h4> Натюрморт</h4>\
  <p><a href="steel-spring.html"> Пружина</a></p>\
<h4><a href="../water/index.html"> Вода</a></h4>\
<h4><a href="../flame/index.html"> Огонь</a></h4>';   
    </script>    
    <script src="../../images/menu.js" defer=""> </script>
    <script src="../../../images/ansimeta.js" defer=""> </script> 
</head>
 <body>
    
 

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/steel-spring.jpg">
     <img alt="стальная пружина" height="450" src="images/steel-spring.jpg" title="Натюрморт
      со стальной пружиной на белом листе" width="600"> </a> </p>

   <h1> Стальная пружина </h1>

   <p> Фото сделано камерой
    <a href="../../workshop/HP-C200.html">
     HP-C200 </a>
    (1&nbsp;мегапиксель) </p>

   <div class="cr sel">
    &nbsp;
   </div>

   <p class="rightc">
    <a href="images/wire.jpg">
     <img alt="Длинный провод на фоне неба
      протянулся по диагонали кадра" height="150" src="200/wire.jpg" title="Длинный-длинный провод" width="200">
     <br> 3 провода </a> </p>

   <p> Тоже старинная камера HP-C200.
    <br> На фото высоковольтная линия из трёх проводов. Небо чистое,
            но вдали из-за дымки цвет неба немного испорчен. Сюжет этой фотографии
            напоминает "Чёрный квадрат" - не на чем остановить взгляд. Поэтому
            картинка годится в качестве обоев для рабочего стола PC. </p>

   <div class="cr sel">
    &nbsp;
   </div>

   <p class="rightc">
    <a href="../../workshop/HP-C200.html">
     <img alt="Как
      заставить муху остановиться? Я дал ей капельку воды с сахаром." height="144" src="../../workshop/images/fly-drink-droplet.jpg" title="Макросъёмка простой камерой" width="200">
     <br> </a> </p>

   <p> Макросъёмка через увеличительное стекло камерой HP-C200 </p>
  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  
 

 </body>
</html>
